---
http_interactions:
- request:
    method: post
    uri: https://auth.dhan.co/app/generateAccessToken?dhanClientId=<CLIENT_ID>&pin=855179&totp=900488
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"dhanClientId":"<CLIENT_ID>","dhanClientName":"SHUBHAM PURUSHOTTAM
        TAYWADE","dhanClientUcc":"TCZY97960C","givenPowerOfAttorney":true,"accessToken":"<ACCESS_TOKEN>","expiryTime":"2026-08-13T11:39:07.681"}'
  recorded_at: Wed, 12 Aug 2026 06:09:06 GMT
recorded_with: VCR 6.4.0
