---
http_interactions:
- request:
    method: post
    uri: https://auth.dhan.co/app/generateAccessToken?dhanClientId=<CLIENT_ID>&pin=855179&totp=533255
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"dhanClientId":"<CLIENT_ID>","dhanClientName":"SHUBHAM PURUSHOTTAM
        TAYWADE","dhanClientUcc":"TCZY97960C","givenPowerOfAttorney":true,"accessToken":"<ACCESS_TOKEN>","expiryTime":"2026-09-02T11:02:13.891"}'
  recorded_at: Tue, 01 Sep 2026 05:32:13 GMT
recorded_with: VCR 6.4.0
