---
http_interactions:
- request:
    method: post
    uri: https://auth.dhan.co/app/generateAccessToken?dhanClientId=<CLIENT_ID>&pin=855179&totp=807416
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Invalid TOTP","status":"error"}'
  recorded_at: Fri, 13 Mar 2026 08:25:09 GMT
- request:
    method: post
    uri: https://api.dhan.co/v2/charts/intraday
    body:
      encoding: UTF-8
      string: '{"securityId":"12345","exchangeSegment":"NSE_FNO","instrument":"FUTIDX","interval":"5","oi":false,"fromDate":"2026-03-11","toDate":"2026-03-13","dhanClientId":"<CLIENT_ID>"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ACCESS_TOKEN>"
      Client-Id:
      - "<CLIENT_ID>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errorType":"Input_Exception","errorCode":"DH-905","errorMessage":"System
        is unable to fetch data due to incorrect parameters or no data present"}'
  recorded_at: Fri, 13 Mar 2026 08:25:09 GMT
recorded_with: VCR 6.3.1
