---
http_interactions:
- request:
    method: post
    uri: https://api.dhan.co/v2/charts/intraday
    body:
      encoding: UTF-8
<<<<<<< Updated upstream
      string: '{"securityId":"13","exchangeSegment":"IDX_I","instrument":"INDEX","interval":"1","oi":false,"fromDate":"2025-11-22","toDate":"2025-11-29"}'
=======
      string: '{"securityId":"13","exchangeSegment":"IDX_I","instrument":"INDEX","interval":"1","oi":false,"fromDate":"2025-11-21","toDate":"2025-11-28"}'
>>>>>>> Stashed changes
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
<<<<<<< Updated upstream
      - Sun, 30 Nov 2025 06:10:55 GMT
=======
      - Sat, 29 Nov 2025 04:10:07 GMT
>>>>>>> Stashed changes
      Content-Type:
      - application/json
      Transfer-Encoding:
      - chunked
      Connection:
      - keep-alive
      Vary:
      - Access-Control-Request-Headers
      - Access-Control-Request-Method
      - Origin
      Content-Security-Policy:
      - frame-ancestors 'none'
      X-Frame-Options:
      - SAMEORIGIN
    body:
      encoding: UTF-8
<<<<<<< Updated upstream
      string: '{"open":[26122.8,26103.45,26094.1,26084.4,26113.25,26096.95,26107.45,26118.9,26115.5,26113.8,26099.25,26105.4,26108.55,26110.35,26112.5,26113.95,26115.7,26107.8,26100.75,26092.85,26093.45,26081.9,26080.45,26086.1,26085.45,26088.4,26091.5,26082.8,26083.55,26080.35,26076.2,26071.9,26066.5,26082.2,26091.2,26095.45,26103.15,26106.05,26097.2,26095.55,26087.4,26089.2,26090.9,26087.25,26085.85,26085.4,26094.25,26098.3,26107.0,26104.9,26108.65,26111.8,26111.35,26111.45,26115.45,26117.75,26119.9,26116.05,26123.6[...]
