---
http_interactions:
- request:
    method: post
    uri: https://api.dhan.co/v2/charts/intraday
    body:
      encoding: UTF-8
      string: '{"securityId":"13","exchangeSegment":"IDX_I","instrument":"INDEX","interval":"1","oi":false,"fromDate":"2025-10-29","toDate":"2025-10-31"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"open":[25982.0,26011.9,26019.05,25992.75,25983.5,25980.55,25985.8,25972.35,25977.8,25977.65,25990.3,25991.7,26001.8,26009.75,26012.35,26010.75,26017.5,26022.0,26010.5,26004.25,25996.9,25982.9,25974.55,25973.9,25970.0,25965.7,25967.2,25962.75,25964.3,25972.3,25970.55,25986.65,25991.55,25985.0,25969.5,25968.15,25972.9,25986.95,25984.15,25980.9,25988.4,25991.1,25993.9,25982.3,25981.85,25983.6,25998.9,26000.0,26003.3,26003.35,25996.0,25993.1,25991.1,25992.15,25994.35,25997.8,26003.25,26014.75,26012.45,259[...]
[...]
- request:
    method: post
    uri: https://api.dhan.co/v2/optionchain/expirylist
    body:
      encoding: UTF-8
      string: '{"underlyingScrip":13,"underlyingSeg":"IDX_I"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ACCESS_TOKEN>"
      Client-Id:
      - "<CLIENT_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":["2025-11-04","2025-11-11","2025-11-18","2025-11-25","2025-12-02","2025-12-30","2026-01-27","2026-03-31","2026-06-30","2026-09-29","2026-12-29","2027-06-29","2027-12-28","2028-06-27","2028-12-26","2029-06-26","2029-12-24","2030-06-25"],"status":"success"}'
  recorded_at: Sat, 01 Nov 2025 11:47:48 GMT
- request:
    method: post
    uri: https://api.dhan.co/v2/optionchain
    body:
      encoding: UTF-8
      string: '{"underlyingScrip":13,"underlyingSeg":"IDX_I","expiry":"2025-11-04"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ACCESS_TOKEN>"
      Client-Id:
      - "<CLIENT_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"last_price":25722.1,"oc":{"19350.000000":{"ce":{"greeks":{"delta":0,"theta":0,"gamma":0,"vega":0},"implied_volatility":0,"last_price":0,"oi":0,"previous_close_price":0,"previous_oi":0,"previous_volume":0,"top_ask_price":0,"top_ask_quantity":0,"top_bid_price":0,"top_bid_quantity":0,"volume":0},"pe":{"greeks":{"delta":0,"theta":-0,"gamma":0,"vega":0},"implied_volatility":9.554869286142655,"last_price":0,"oi":0,"previous_close_price":0,"previous_oi":0,"previous_volume":0,"top_ask_price":0,"top_ask_quantity":0,"top_bid_price":0,"top_bid_quantity":0,"volume":0}},"19400.000000":{"ce":{"greeks":{"delta":0,"theta":0,"gamma":0,"vega":0},"implied_volatility":0,"last_price":0,"oi":0,"previous_close_price":0,"previous_oi":0,"previous_volume":0,"top_ask_price":0,"top_ask_quantity":0,"top_bid_price":0,[...]
