---
http_interactions:
  - request:
      method: post
      uri: https://api.dhan.co/v2/marketfeed/ltp
      body:
        encoding: UTF-8
        string: '{"NSE_FNO":["11111"]}'
      headers:
        Content-Type:
          - application/json
        Access-Token:
          - "<ACCESS_TOKEN>"
        Client-Id:
          - "<CLIENT_ID>"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string: '{"data":{"NSE_FNO":{}},"status":"success"}'
    recorded_at: Sat, 29 Nov 2025 04:50:43 GMT
recorded_with: VCR 6.3.1
