---
http_interactions:
- request:
    method: post
    uri: https://api.dhan.co/v2/charts/intraday
    body:
      encoding: UTF-8
      string: '{"securityId":"13","exchangeSegment":"IDX_I","instrument":"INDEX","interval":"1","oi":false,"fromDate":"2025-11-27","toDate":"2025-12-04"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"open":[26261.25,26235.95,26225.25,26232.2,26245.8,26250.85,26253.4,26270.45,26280.75,26288.8,26274.2,26262.3,26269.55,26279.3,26286.6,26285.15,26271.0,26278.55,26280.75,26276.2,26279.95,26279.4,26272.15,26267.3,26268.3,26248.3,26233.4,26241.45,26233.55,26226.3,26236.15,26232.9,26238.65,26248.25,26246.25,26249.9,26249.05,26252.5,26256.7,26264.15,26258.75,26268.55,26271.25,26271.05,26276.2,26283.4,26286.2,26278.35,26291.75,26289.1,26288.35,26292.95,26294.4,26299.45,26294.35,26290.9,26276.65,26270.45,262[...]
- request:
    method: post
    uri: https://api.dhan.co/v2/optionchain/expirylist
    body:
      encoding: UTF-8
      string: '{"underlyingScrip":13,"underlyingSeg":"IDX_I"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ACCESS_TOKEN>"
      Client-Id:
      - "<CLIENT_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":["2025-12-09","2025-12-16","2025-12-23","2025-12-30","2026-01-06","2026-01-27","2026-02-24","2026-03-31","2026-06-30","2026-09-29","2026-12-29","2027-06-29","2027-12-28","2028-06-27","2028-12-26","2029-06-26","2029-12-24","2030-06-25"],"status":"success"}'
  recorded_at: Thu, 04 Dec 2025 19:25:11 GMT
- request:
    method: post
    uri: https://api.dhan.co/v2/optionchain
    body:
      encoding: UTF-8
      string: '{"underlyingScrip":13,"underlyingSeg":"IDX_I","expiry":"2025-12-09"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ACCESS_TOKEN>"
      Client-Id:
      - "<CLIENT_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"last_price":26033.75,"oc":{"20250.000000":{"ce":{"greeks":{"delta":0,"theta":0,"gamma":0,"vega":0},"implied_volatility":0,"last_price":0,"oi":0,"previous_close_price":0,"previous_oi":0,"previous_volume":0,"top_ask_price":0,"top_ask_quantity":0,"top_bid_price":0,"top_bid_quantity":0,"volume":0},"pe":{"greeks":{"delta":0,"theta":-0,"gamma":0,"vega":0},"implied_volatility":6.4556159934555435,"last_price":0,"oi":0,"previous_close_price":0,"previous_oi":0,"previous_volume":0,"top_ask_price":0,"top_ask_quantity":0,"top_bid_price":0,"top_bid_quantity":0,"volume":0}},"20300.000000":{"ce":{"greeks":{"delta":0,"theta":0,"gamma":0,"vega":0},"implied_volatility":0,"last_price":0,"oi":0,"previous_close_price":0,"previous_oi":0,"previous_volume":0,"top_ask_price":0,"top_ask_quantity":0,"top_bid_price":0[...]
