---
http_interactions:
- request:
    method: get
    uri: https://api.dhan.co/fundlimit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - "<DHAN_ACCESS_TOKEN>"
      Client-Id:
      - "<DHAN_CLIENT_ID>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"dhanClientId":"test_client_id","availabelBalance":485000.0,"sodLimit":500000.0,"collateralAmount":0.0,"receiveableAmount":0.0,"utilizedAmount":15000.0,"blockedPayoutAmount":0.0,"withdrawableBalance":485000.0}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
recorded_with: VCR 6.2.0
