---
http_interactions:
- request:
    method: post
    uri: https://api.dhan.co/v2/optionchain/expirylist
    body:
      encoding: UTF-8
      string: '{"underlyingScrip":26000,"underlyingSeg":"NSE_FNO"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ACCESS_TOKEN>"
      Client-Id:
      - "<CLIENT_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":["2025-12-02","2025-12-09","2025-12-16","2025-12-23","2025-12-30","2026-01-27","2026-02-24","2026-03-31","2026-06-30","2026-09-29","2026-12-29","2027-06-29","2027-12-28","2028-06-27","2028-12-26","2029-06-26","2029-12-24","2030-06-25"],"status":"success"}'
  recorded_at: Sun, 30 Nov 2025 18:36:18 GMT
- request:
    method: post
    uri: https://api.dhan.co/v2/optionchain
    body:
      encoding: UTF-8
      string: '{"underlyingScrip":26000,"underlyingSeg":"NSE_FNO","expiry":"2025-12-02"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ACCESS_TOKEN>"
      Client-Id:
      - "<CLIENT_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"last_price":26202.95,"oc":{"20250.000000":{"ce":{"greeks":{"delta":0,"theta":0,"gamma":0,"vega":0},"implied_volatility":0,"last_price":0,"oi":0,"previous_close_price":0,"previous_oi":0,"previous_volume":0,"top_ask_price":0,"top_ask_quantity":0,"top_bid_price":0,"top_bid_quantity":0,"volume":0},"pe":{"greeks":{"delta":0,"theta":-0,"gamma":0,"vega":0},"implied_volatility":9.854003343398249,"last_price":0,"oi":0,"previous_close_price":0,"previous_oi":0,"previous_volume":0,"top_ask_price":0,"top_ask_quantity":0,"top_bid_price":0,"top_bid_quantity":0,"volume":0}},"20300.000000":{"ce":{"greeks":{"delta":0,"theta":0,"gamma":0,"vega":0},"implied_volatility":0,"last_price":0,"oi":0,"previous_close_price":0,"previous_oi":0,"previous_volume":0,"top_ask_price":0,"top_ask_quantity":0,"top_bid_price":0,[...]
