---
http_interactions:
- request:
    method: post
    uri: https://api.dhan.co/v2/marketfeed/ltp
    body:
      encoding: UTF-8
      string: '{"NSE_FNO":[12345],"dhanClientId":"<CLIENT_ID>"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ACCESS_TOKEN>"
      Client-Id:
      - "<CLIENT_ID>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"808":"Authentication Failed - Client ID or Token invalid"},"status":"failed"}'
  recorded_at: Fri, 07 Aug 2026 05:42:43 GMT
- request:
    method: post
    uri: https://auth.dhan.co/app/generateAccessToken?dhanClientId=1000000001&pin=123456&totp=423799
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Unauthorized Request","status":"error"}'
  recorded_at: Fri, 07 Aug 2026 05:42:43 GMT
recorded_with: VCR 6.4.0
