---
http_interactions:
- request:
    method: post
    uri: https://api.dhan.co/v2/marketfeed/ohlc
    body:
      encoding: UTF-8
      string: "<REQUEST_BODY>"
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ACCESS_TOKEN>"
      Client-Id:
      - "<CLIENT_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"IDX_I":{"13":{"last_price":25795.15,"ohlc":{"open":25935.1,"close":25795.15,"high":25944.15,"low":25718.2}}}},"status":"success"}'
  recorded_at: Sun, 26 Oct 2025 11:06:44 GMT
recorded_with: VCR 6.3.1
