---
http_interactions:
- request:
    method: post
    uri: https://api.dhan.co/v2/charts/intraday
    body:
      encoding: UTF-8
      string: '{"securityId":"13","exchangeSegment":"IDX_I","instrument":"INDEX","interval":"1","oi":false,"fromDate":"2025-10-24","toDate":"2025-10-31"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"open":[25935.099609375,25885.7,25867.65,25862.05,25849.15,25851.15,25854.95,25878.35,25881.25,25877.8,25886.3,25880.1,25873.4,25862.25,25881.5,25885.85,25879.35,25879.0,25873.35,25876.4,25876.15,25870.05,25879.35,25898.85,25908.35,25913.2,25909.65,25900.0,25888.55,25898.7,25903.5,25885.1,25890.3,25882.6,25890.0,25883.75,25866.45,25875.25,25872.15,25873.7,25865.7,25876.05,25887.45,25886.35,25888.15,25893.2,25888.05,25892.95,25900.3,25898.35,25885.6,25888.8,25892.05,25896.55,25900.25,25900.9,25896.0,258[...]
[...]
