---
http_interactions:
- request:
    method: post
    uri: https://api.dhan.co/v2/charts/intraday
    body:
      encoding: UTF-8
<<<<<<< Updated upstream
      string: '{"securityId":"13","exchangeSegment":"IDX_I","instrument":"INDEX","interval":"5","oi":false,"fromDate":"2025-11-22","toDate":"2025-11-29"}'
=======
      string: '{"securityId":"13","exchangeSegment":"IDX_I","instrument":"INDEX","interval":"5","oi":false,"fromDate":"2025-11-21","toDate":"2025-11-28"}'
>>>>>>> Stashed changes
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ACCESS_TOKEN>"
  response:
    status:
<<<<<<< Updated upstream
      code: 429
      message: ''
    headers:
=======
      code: 200
      message: ''
    headers:
>>>>>>> Stashed changes
      Content-Type:
      - application/json
      Transfer-Encoding:
      - chunked
      Connection:
      - keep-alive
      Vary:
      - Access-Control-Request-Headers
      - Access-Control-Request-Method
      - Origin
      Content-Security-Policy:
      - frame-ancestors 'none'
      X-Frame-Options:
      - SAMEORIGIN
    body:
      encoding: UTF-8
<<<<<<< Updated upstream
      string: '{"errorType":"Rate_Limit","errorCode":"DH-904","errorMessage":"Too
        many requests on server from single user breaching rate limits. Try throttling
        API calls."}'
  recorded_at: Sun, 30 Nov 2025 06:10:48 GMT
=======
      string: '{"open":[26109.55,26136.5,26159.7,26158.55,26151.7,26147.95,26129.9,26120.6,26109.45,26119.8,26094.15,26086.9,26088.0,26066.1,26068.55,26068.0,26067.6,26075.55,26071.85,26075.75,26069.1,26093.2,26084.95,26083.45,26107.2,26100.45,26090.15,26103.2,26085.45,26090.45,26086.3,26090.25,26096.2,26093.3,26106.65,26107.35,26124.55,26139.95,26157.65,26151.45,26141.5,26143.7,26149.0,26162.45,26172.2,26166.2,26166.85,26161.55,26136.4,26115.85,26109.6,26116.8,26123.2,26119.65,26103.45,26114.15,26129.25,26138.85,2613[...]
