---
http_interactions:
- request:
    method: post
    uri: https://api.dhan.co/v2/charts/intraday
    body:
      encoding: UTF-8
      string: '{"securityId":"13","exchangeSegment":"IDX_I","instrument":"INDEX","interval":"5","oi":false,"fromDate":"2025-11-22","toDate":"2025-11-29"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 429
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errorType":"Rate_Limit","errorCode":"DH-904","errorMessage":"Too
        many requests on server from single user breaching rate limits. Try throttling
        API calls."}'
  recorded_at: Sun, 30 Nov 2025 06:10:48 GMT
recorded_with: VCR 6.3.1
